:host {
  border: 1px solid gray;
  padding: 10px;
  width: 200px;
}

svg {
  fill: lightgray;
}

button {
  border: none;
  border-radius: 10px;
  background-color: #9d27b4;
  color: white;
  padding: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
}